@import url('https://fonts.googleapis.com/css2?family=Bubbler+One&display=swap');


* {
    background-color: white;
    font-family: 'Bubbler One';
}

.title {
    font-size: 96px;
    text-align: center;
    margin: 80px 0px;
}

.game.container {
    display: flex;
    justify-content: center;
}

.hero, .nemesis{
    text-align: center;
}

.icon.hero {
    width: 202px;
    height: 156px;
    margin-left: -100px;
}

.icon.nemesis {
    width: 125px;
    height: 158px;
}

.hero-hitpoints{
    width: 250px;
    height: 30px;
    /* background-color: #14F000; */
    background-color: red;
}

.hero-health{
    width: 100%;
    height: 100%;
    background-color: #14F000;
    transition: width 0.5s ease-out;
}

.nemesis-hitpoints{
    width: 250px;
    height: 30px;
    /* background-color: #BB84FF; */
    background-color: red;
}

.nemesis-health{
    width: 100%;
    height: 100%;
    background-color: #BB84FF;
    transition: width 0.5s ease-out;
}


.display {
    width: 500px;
    margin: 0;
    text-align: center;
}

.action-container {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.icon-choice{
    width: 88px;
    height: 88px;
    transition: transform 0.1s ease;
}

.icon-choice:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.reset{
    text-align: center;
    margin-top: 50px;
    color: rgb(80, 80, 80);
    visibility: hidden;
}

.reset:hover{
    cursor: pointer;
}


@keyframes shake {
    0% { transform: translate(1px, 0); }
    25% { transform: translate(-1px, 0); }
    50% { transform: translate(1px, 0); }
    75% { transform: translate(-1px, 0); }
    100% { transform: translate(1px, 0); }
}

.shake {
    animation: shake 0.5s;
}